node_modules/
.npm-cache/
.vercel-cli/
.vercel-config/
.vercel-static-deploy/
.vercel/
.env
.idea/
*.pem
.terraform/
*.tfstate
*.tfstate.*
infra/terraform/terraform.tfvars
crash.log
docker-start.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.vercel
/projects/ecommerce/
/projects/esurvey/

